.login-page {
  width: auto;
  padding: 50px;
}

.input-group {
  margin-bottom: 20px;
}

.login-button {
  background-color: #2429b7;
  color: rgb(255, 255, 255);
  float: right;
}

.login-button[disabled] {
  background-color: #F2F2F2
}

.login-button:hover {
  background-color: #13176d;
}